@font-face {
    font-family: 'Larevu';
    src: url('../fonts/Larevu-Medium.woff2') format('woff2'),
    url('../fonts/Larevu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larevu';
    src: url('../fonts/Larevu-Bold.woff2') format('woff2'),
    url('../fonts/Larevu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larevu';
    src: url('../fonts/Larevu-Black.woff2') format('woff2'),
    url('../fonts/Larevu-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larevu';
    src: url('../fonts/Larevu-Light.woff2') format('woff2'),
    url('../fonts/Larevu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0;
    font-family: Larevu, sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

#app {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.container {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

.subtitle-blanc {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
	color: white;
}

.text {
    text-align: center;
    font-size: 26px;
    font-family: "Gotham Book", sans-serif;
    margin-bottom: 0;
}

.text strong {
    font-family: Gotham, sans-serif;
    font-weight: 500;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 1rem;
}

.nav-logo {
    display: block;
    background: url(../images/monograme.svg) center center no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.button {
    background: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    padding: 30px 45px;
    border-radius: 20px;
    transition: .25s ease;
    border: 1px solid black;
}

.button:hover {
    background: white;
    color: black;
}


.button-white {
    background: white;
    color: black;
    border-color: white;
}

.button-white:hover {
    background: black;
    color: white;
    border-color: black;
}

.button-red {
    color: white;
    background: #e10f2b;
    border-color: #e10f2b;
}

.button-red:hover {
    border-color: white;
}

.button-text-red {
    color: #e10f2b;
}

.button-text-grey {
    color: #52a270;
}

.button-text-blue {
    color: #367f63;
}

.button-orange {
    color: black;
    background: #f0d973;
    border-color: #f0d973;
}

.button-orange:hover {
    border-color: white;
}

.button-text-orange {
    color: #f0d973;
}

.header {
    background: url(../images/background_lrd41.jpg) left bottom no-repeat;
    background-size: cover;
    height: 0;
    position: relative;
    padding-bottom: calc((912 / 1435) * 100%);
    overflow: hidden;
}

.header-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.header-logo {
    position: relative;
    background: url(../images/logo.svg);
    width: 456px;
    height: 456px;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    text-indent: -9999px;
}

.header-content {
    max-width: 50%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.header-title {
    text-align: center;
    color: black;
    font-size: 56px;
    font-weight: 900;
    margin-top: 65px;
    margin-bottom: 65px;

}

.header .button {
    align-self: center;
}

.picto {
    background: #e10f2b;
    padding-top: 80px;
    padding-bottom: 80px;
}

.picto-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.picto-icon {
    width: 65px;
    height: 65px;
    display: block;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.picto-icon-1 {
    background-image: url(../images/1.png);
}

.picto-icon-2 {
    background-image: url(../images/2.png);
}

.picto-icon-3 {
    background-image: url(../images/3.png);
}

.picto-icon-4 {
    background-image: url(../images/4.png);
}

.picto-item {
    max-width: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picto-text {
    color: white;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
}

.argumentaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 180px;
    background: url(../images/bg.jpg) center center no-repeat;
    background-size: cover;
}

.argumentaire-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: url(../images/monograme.svg) center center no-repeat;
}

.argumentaire-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    margin: auto;
    padding: 120px 40px;
}

.argumentaire .button {
    align-self: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}


.livres {
    background: #eeeb87;
    padding-top: 50px;
    padding-bottom: 50px;
}

.livres-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.livres-item {
    width: calc(20% - 15px);
}

.livres-item img {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: auto;
}


.argumentaire .button {
    align-self: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}


.buttons-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 950px;
    width: 100%;
    margin: auto;
}

.button-large {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 68px;
    justify-content: flex-end;
    text-decoration: none;
    align-items: center;
    width: 100%;
}

.button-large span {
    display: flex;
    align-items: center;
    height: 100%;
}

.button-large span strong {
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
    font-family: "Gotham", sans-serif;
}

.button-large span:first-child {
    background: white;
    justify-content: center;
    color: black;
    flex: 1 0 auto;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px 0 0 20px;
    font-family: "Gotham Book", sans-serif;
}

.button-large span:last-child {
    background: black;
    color: white;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
}

.social {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e10f2b;
}

.social .subtitle {
    color: white;
}

.social-items {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.social-item {
    margin-right: 80px;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .25s ease;
}

.social-item:hover {
    transform: scale(.9);
}


.social-item-twitter {
    background-image: url(../images/twitter.svg);
}

.social-item-facebook {
    background-image: url(../images/facebook.svg);
}

.social-item-instagram {
    background-image: url(../images/instagram.svg);
}

.social-item:last-child {
    margin-right: 0;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-text {
    text-align: center;
    font-family: "Gotham Book", sans-serif;
}

.footer-text strong {
    font-family: Gotham, sans-serif;
}

.footer-logo {
    display: flex;
    margin: 20px auto 0;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.footer-logo a {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}
.footer-logo a:nth-child(1) {
    background-image: url(../images/logo-xxi.svg);
    width: 84px;
    height: 60px;
}
.footer-logo a:nth-child(2) {
    background-image: url(../images/logo-6mois.svg);
    width: 178px;
    height: 60px;
}
.footer-logo a:nth-child(3) {
    background-image: url(../images/logo-topo.svg);
    width: 174px;
    height: 60px;
}

@media screen and (max-width: 1680px) {
    .button {
        font-size: 20px;
        padding: 20px 35px;
    }

    .header-logo {
        width: 350px;
        height: 350px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .header-title {
        font-size: 46px;
    }

    .picto-text {
        font-size: 20px;
    }

    .picto-icon {
        width: 55px;
        height: 55px;
    }
}


@media screen and (max-width: 1300px) {

    .subtitle {
        font-size: 24px;
    }

    .subtitle-mediapart {
        font-size: 24px;
		text-transform: uppercase;
    }
	
    .text {
        font-size: 20px;
    }

}

@media screen and (max-width: 800px) {

    .header-title {
        color: white;
    }

    .header-container {
        background: rgba(0,0,0,.6);
    }

    .picto-list {
        flex-wrap: wrap;
    }

    .picto-item {
        max-width: 50%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .argumentaire {
        padding-left: 50px;
        padding-right: 50px;
    }

    .livres-items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .livres-item {
        width: calc(50% - 25px);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 25px;
    }

    .header-content {
        max-width: none;
    }

    .header {
        padding-bottom: 100%;
    }

    .button-large {
        flex-direction: column;
        justify-content: normal;
        margin-bottom: 30px;
        height: auto;
    }

    .buttons-large {
        max-width: 70%;
    }

    .button-large span {
        width: 100%;
        text-align: center;
        display: block;
        border-radius: 0 !important;
    }

    .button-large span:first-child {
        padding-bottom: 20px;
    }

    .button-large span:last-child {
        padding-top: 20px;
    }

    .header {
        margin-top: 60px;
    }

    .text {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-logo {
        width: 200px;
        height: 200px;
        margin-top: -40px;
    }

    .header-title {
        font-size: 26px;
        text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }

    .header {
        padding-bottom: 0;
        height: auto;
    }

    .header-container {
        position: static;
        padding-bottom: 40px;
    }

    .picto-item {
        max-width: 100%;
        width: 100%;
    }

    .argumentaire {
        padding: 60px 20px;
    }

    .argumentaire-container {
        padding: 60px 30px;
    }

    .argumentaire .button {
        white-space: nowrap;
    }

    .button-large span:first-child, .button-large span:last-child {
        font-size: 16px;
    }

    .button-large span strong {
        margin-left: 0;
        margin-right: 0;
    }

    .picto {
        padding: 40px;
    }

    .footer-logo {
        flex-direction: column;
    }

    .footer-logo a {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 330px) {
    body {
        overflow-x: hidden;
    }
}


.banner-40-jours {
    display: flex;
    background: #FEEA10;
    color: black;
    align-items:center;
    justify-content: center;
    padding: 20px;
}

.banner-40-jours p {
    font-size: 20px;
    margin: 0 20px;
}

@media (max-width: 1000px) {
    .banner-40-jours {
        position: relative;
    }
}

@media (max-width: 800px) {
    .banner-40-jours {
        flex-direction: column;
        text-align: center;
    }

    .banner-40-jours p {
        margin: 20px 0;
    }
}

.dbox-donation-button {
    background: #000000 url(https://donorbox.org/images/red_logo.png) no-repeat 37px;
    color: #fff;
    text-decoration: none;
    font-family: Verdana,sans-serif;
    display: inline-block;
    font-size: 16px;
    padding: 15px 38px;
    padding-left: 75px;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #1f5a89;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

#map {
    height: 100vh;
    width: 90%;
}

.intro {
    display: flex;
    flex-direction: column;
    background: #FEEA10;
    color: black;
    align-items:center;
    justify-content: center;
    padding: 20px;
}

.intro p {
    font-size: 20px;
    margin-top: 0;
    text-align: center;
}
