<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Primary metadata -->
    <title>La Revue Dessinée – l’actualité en bande dessinée</title>
    <meta name="title" content="Des enquêtes, des reportages et des documentaires en bande dessinée - La Revue dessinée">
    <meta name="description" content="Tous les trois mois, sur abonnement ou dans les bonnes librairies, retrouvez l'actualité en bande dessinée avec la revue La Revue Dessinée."/>

    <!-- Open Graph / Facebook metadata -->
    <meta property="og:type" content="revue">
    <meta property="og:url" content="https://larevuedessinee.frama.io">
    <meta property="og:title" content="La Revue Dessinée – l’actualité en bande dessinée">
    <meta property="og:description" content="Enquêtes, reportages au long cours et chroniques, tous les trois mois en BD.">
    <!-- TODO meta property="og:image" content="https://larevuedessinee.frama.io/images/" -->

    <!-- TODO Twitter metadata -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css/app.css">
    {% block head %}
    {% endblock %}
    </head>
    <body>
        <main id="app">
            <nav class="nav">
                <div class="nav-left">
                    <a href="" class="nav-logo"></a>Index des articles
                </div>
                <div class="nav-right">
                    <a href="https://boutique.4revues.fr/common/categories/5" target="_blank" class="button">S'abonner</a>
                </div>
            </nav>

{% block main %}{% endblock %}

            <footer class="footer">
            <div class="container">
                <p class="footer-text">
                    <strong>La Revue Dessinée</strong> fait partie d’un groupe de 4 revues, <strong>indépendantes</strong>
                    et <strong>engagées</strong>.<br>
                    <strong>4 revues</strong> publie également les revues <strong>XXI</strong>, <strong>6MOIS</strong> et
                    <strong>TOPO</strong>.<br>
                    <!-- TODO: a href="" target="_blank">Mentions légales</a-->
                </p>
                <div class="footer-logo">
                    <a href="https://revue21.fr" target="_blank"></a>
                    <a href="https://6mois.fr" target="_blank"></a>
                    <a href="https://toporevue.fr" target="_blank"></a>
                </div>
            </div>
            </footer>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <script src="js/app.js"></script>
    </body>
</html>
