{% extends "partials/base.html" %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<link rel="stylesheet" href="https://www.unpkg.com/leaflet-search@4.0.0/dist/leaflet-search.min.css"
        integrity="sha256-QQ3b/qSOV5DnXI1v2tRNEhXIyNb9B3rIZelvnHuiyWE=" crossorigin=""/>
<script src="https://www.unpkg.com/leaflet-search@4.0.0/dist/leaflet-search.min.js"
        integrity="sha256-QiVPQ9VMfvzQwvM56dmblt/s04Gp22zNm2P1zCl2hRk=" crossorigin=""></script>
<!-- <script src="js/leaflet-search.src.js"></script> -->
<script id="numeros" type="application/json">{{ numeros | tojson }}</script>
{% endblock %}
{% block main %}
<section class="intro">
    <p>Retrouvez ici tous les articles de la Revue Dessinée,
       listés par catégories ainsi que sur une carte.</p>
    <p class="text"><a href="https://framagit.org/larevuedessinee/larevuedessinee.frama.io/">Venez contribuer à ce projet sur Framagit</a></p>
</section>

<section class="map">
    <div id="map"></div>
</section>

<section class="banner-40-jours">
    <p>Soutenez La Revue Dessinée, faites un don défiscalisé.</p>
    <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script>
    <a class="dbox-donation-button" href="https://donorbox.org/la-revue-dessinee?default_interval=o">Faire un don</a>
</section>

<section class="header">
    <div class="header-container">
        <div class="container">
            <div class="header-content">
                <div class="header-logo">La revue dessinée</div>
                <h1 class="header-title">L'actualité<br> en bande dessinée</h1>
                <a href="https://boutique.4revues.fr/common/categories/5" target="_blank" class="button button-white">S'abonner</a>
            </div>
        </div>
    </div>
</section>

<section class="picto">
    <div class="container">
        <div class="picto-list">
            <div class="picto-item">
                <div class="picto-icon picto-icon-1"></div>
                <p class="picto-text">
                    Tous les trois mois
                </p>
            </div>
            <div class="picto-item">
                <div class="picto-icon picto-icon-2"></div>
                <p class="picto-text">
                    En librairie ou sur abonnement
                </p>
            </div>
            <div class="picto-item">
                <div class="picto-icon picto-icon-3"></div>
                <p class="picto-text">
                    19€ / Plus de 200 pages d'enquêtes et de reportages
                </p>
            </div>
            <div class="picto-item">
                <div class="picto-icon picto-icon-4"></div>
                <p class="picto-text">
                    Réalisée en équipe par des dessinateurs et des journalistes
                </p>
            </div>
        </div>
    </div>
</section>

<section class="argumentaire">

    <div class="argumentaire-container">

        <div class="argumentaire-logo"></div>
        <h2 class="subtitle">La Revue Dessinée raconte l'actualité en bande dessinée</h2>
        <p class="text">Avec des journalistes professionnels, <strong>La Revue Dessinée</strong>
            délivre une <strong>information
                critique, rigoureuse</strong> et <strong>engagée</strong>, avec le regard singulier de la bande
            dessinée.</p>
        <a href="https://boutique.4revues.fr/common/categories/6" target="_blank" class="button button-red">Nos numéros</a>
    </div>

</section>

<section class="livres">
    <div class="container">
        <h2 class="subtitle">À rebours des flux d’informations en continu</h2>
        <p class="text"><strong>La Revue Dessinée</strong> prend le temps de mener des <strong>enquêtes au long
            cours</strong><br>
            et de porter un regard à la fois <strong>distancié et critique</strong> sur la réalité.<br>
            Parmi les enquêtes éditées qui ont bouleversé l’actualité :</p>
        <div class="livres-items">
            <div class="livres-item">
                <img src="images/l1.jpg" alt="">
            </div>
            <div class="livres-item">
                <img src="images/l2.jpg" alt="">
            </div>
            <div class="livres-item">
                <img src="images/l3.jpg" alt="">
            </div>
            <div class="livres-item">
                <img src="images/l4.jpg" alt="">
            </div>
            <div class="livres-item">
                <img src="images/l5.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="social">
    <div class="container">
        <h2 class="subtitle">Suivez-nous sur les réseaux</h2>
        <div class="social-items">
            <a href="https://twitter.com/LaRevueDessinee" target="_blank" class="social-item social-item-twitter"></a>
            <a href="https://www.facebook.com/larevuedessinee/" target="_blank" class="social-item social-item-facebook"></a>
            <a href="https://www.instagram.com/la_revue_dessinee/" target="_blank" class="social-item social-item-instagram"></a>
        </div>
    </div>
</section>
{% endblock %}
